logs
target
backup
npm-debug.log
bazel-out
metals.sbt
RUNNING_PID

.DS_Store
.bloop
.bsp
.sbtserver
.idea
.idea_modules
.classpath
.metals
.project
.settings
.tscache
.sass-cache

project/.sbtserver
project/.sbtserver.lock
