//------------------------------------------------------------------------------
// Copyright Jo Harada. All Rights Reserved.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

// border radisu
$border-radius-small:         2px;
$border-radius-base:          4px;
$border-radius-medium:        6px;
$border-radius-large:        10px;

// border wieght
$border-weight-large:        16px;
$border-weight-bolder:        5px;
$border-weight-bold:          2px;
$border-weight-base:          1px;

// Mergin & Padding size
$space-size-xnano:            4px;
$space-size-nano:             6px;
$space-size-micro:            8px;
$space-size-small:           12px;
$space-size-base:            16px;
$space-size-medium:          24px;
$space-size-large:           32px;
$space-size-xlarge:          40px;
$space-size-2xlarge:         48px;
$space-size-3xlarge:         56px;
$space-size-4xlarge:         64px;
$space-size-5xlarge:         72px;
$space-size-6xlarge:         80px;

$space-size-nanomicro:        6px;
$space-size-half:            12px;
$space-size-smallbase:       20px;

// Icon size
$icon-size-base:             16px;
$icon-size-smallbase:        20px;
$icon-size-medium:           24px;

// Others
$desktop-content-width:      1080px;
$desktop-header-height:      60px;

$mobile-content-width:       375px;
$mobile-header-height:       50px;
$mobile-content-margin-top:  50px;
